<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>今天吃什么</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <div id="app">
        <img src="./img/cake1.jpeg" class="img-responsive" alt="Responsive image"><br>
        <div class="container">

            <!-- 今日菜单 -->
            <div v-show="!showManager">
                <button class="btn btn-default" @click="eatWhat('a')">选个早餐</button>
                <button class="btn btn-default" @click="eatWhat('b')">选个午餐</button>
                <button class="btn btn-default" @click="eatWhat('c')">选个晚餐</button>
                <button class="btn btn-default" @click="eatWhat('d')">选个宵夜</button>
                <h3>随机菜单</h3>
                <table class="table table-condensed table-hover">
                    <tr class="success" v-for="dish in todayDishes" :key="dish.Id">
                        <th hidden>{{dish.Id}}</th>
                        <th>{{dish.Type}}</th>
                        <th>{{dish.Desc}}</th>
                        <th>
                            <button type="button" class="btn btn-default btn-sm" @click="deleteFromToday(dish.Id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </th>
                    </tr>
                </table>
            </div>

            <br v-show="!showManager">
            <br v-show="!showManager">
            <br v-show="!showManager">
            <button class="btn btn-default" v-show="!showManager" @click="showManagerWidget">管理备选</button>
            <!-- 添加菜品 -->
            <div v-show="showManager">
                <h4>添加备选</h4>
                <form>
                    <div class="form-group">
                        <!-- <input type="text" v-model="Description" placeholder="描述一下"><br> -->
                        <textarea class="form-control" rows="2" placeholder="描述一下" v-model="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="a"
                                v-model="checkedTypes">
                            早餐
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="b"
                                v-model="checkedTypes">
                            午餐
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="c"
                                v-model="checkedTypes">
                            晚餐
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="d"
                                v-model="checkedTypes">
                            宵夜
                        </label>
                    </div>
                </form>
                <button class="btn btn-default btn-sm" @click="addDish">添加</button>
                <button class="btn btn-default btn-sm" @click="showManager = false">完成</button>

                <!-- 所有菜单 -->
                <br>
                <br>
                <div class="describe_dishes">
                    <h4>备选菜单</h4>
                    <table class="table table-condensed table-hover">
                        <tr class="danger" v-for="dish in AllDishes" :key="dish.Id">
                            <th hidden>{{dish.Id}}</th>
                            <th>{{dish.Type}}</th>
                            <th>{{dish.Desc}}</th>
                            <th>
                                <button type="button" class="btn btn-default btn-sm" @click="deleteDish(dish.Id)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    showManager: false,
                    AllDishes: [],
                    todayDishes: [],
                    Description: "",
                    checkedTypes: [],
                }
            },
            methods: {
                async addDish() {
                    console.log(`add dish: ${this.checkedTypes}:${this.Description}`)
                    if (this.Description == "") {
                        console.log("description empty");
                        return
                    }
                    let t = "";
                    for (let i in this.checkedTypes) {
                        t += this.checkedTypes[i];
                    }
                    url = "/AddDish?Type=" + t + "&Description=" + this.Description
                    await axios
                        .get(url)
                        .then(response => console.log(response))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                    this.describeDishes();
                },
                async eatWhat(t) {
                    url = "/EatWhat?Count=1&Type=" + t;
                    let dishes = await axios({
                        method: 'get',
                        url: url,
                        responseType: 'json',
                    }).then(function (response) {
                        console.log("response:" + JSON.stringify(response));
                        return response.data.Dishes;
                    })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                    switch (t) {
                        case "a":
                            dishes[0].Type = "早餐";
                            break;
                        case "b":
                            dishes[0].Type = "午餐";
                            break;
                        case "c":
                            dishes[0].Type = "晚餐";
                            break;
                        case "d":
                            dishes[0].Type = "宵夜";
                            break;
                    }
                    this.todayDishes.push(dishes[0]);
                },
                async deleteDish(id) {
                    console.log(`delete dish`, id)
                    url = "/DeleteDish?Id=" + id
                    await axios
                        .get(url)
                        .then(response => console.log(response))
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                    this.describeDishes();
                },
                async describeDishes() {
                    console.log(`describe dishes`)
                    url = "/DescribeDishes"
                    let dishes = await axios({
                        method: 'get',
                        url: url,
                        responseType: 'json',
                    }).then(function (response) {
                        console.log("response:" + JSON.stringify(response.data.Dishes));
                        return response.data.Dishes;
                    })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                    this.AllDishes = dishes;
                },
                deleteFromToday(id) {
                    this.todayDishes = this.todayDishes.filter((item) => item.Id != id);
                },
                showManagerWidget() {
                    this.showManager = true;
                    this.describeDishes();
                }
            },
            mounted() {
                this.eatWhat('b');
            },
        }).mount('#app')
    </script>


</body>

</html>